defusedxml>=0.7.1
pycryptodomex>=3.10.1
requests>=2.25.1
aiohttp>=3.8.0
aiofiles>=0.8.0
Pillow>=8.2.0
tqdm>=4.60.0
mutagen>=1.45.1
ffmpeg-python>=0.2.0
m3u8>=2.0.0
protobuf>=6.33.0,<7
pkce>=1.0.3
pywidevine
yt-dlp[default]
yt-dlp-ejs
CTkToolTip
customtkinter
packaging
httpx
async_lru==2.1.0
pybase62
unplayplay>=0.0.8
dataclass-click
inquirerpy
pfzy
prompt_toolkit
pycryptodome
pywinstyles
